*, *::before, *::after {
  box-sizing: inherit;
}

body {
    background: url(images/themLines.png) repeat;
    background-size: 10%; 
    background-position: top-left;
    margin: 0;
    min-height: 100vh;  
    box-sizing: border-box;
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
    color: rgba(255, 255, 255, 0.87);
    margin: 0;
}

header {
    position: sticky;
    top: 0;       
    z-index: 10;   
    margin: 0;
   /*border-bottom: 1px solid rgba(255, 255, 255, 0.12);*/
    text-align: center; 
    max-width: 100%;
    backdrop-filter: saturate(140%) blur(6px); 
    -webkit-backdrop-filter: saturate(140%) blur(6px);
}

#header_container {
    display: flex;             
    align-items: center;      
    justify-content: center;    
    height: 60px;    
    max-width: 1000px;
    height: 50px;
    margin: 0 auto;
    font-size: 1rem;
    letter-spacing: .05rem;
    background-color: black;
}

#header_container > p { 
    margin: 0; 
}

#main_container {
    display:flex;
    flex-wrap: wrap;
    background-color: black;
    max-width: 1000px;
    margin: auto;
    padding: 2%;
    font-size: 1rem;
    font-weight: bold;
    text-transform: lowercase;
    letter-spacing: .05em;
}

#hero {
    height: auto;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .05rem;
}