/* --------- tokens --------- */
:root{
  --bg:#000;
  --text:rgba(255,255,255,.87);
  --muted:rgba(255,255,255,.7);

  --blue:#008DDA;
  --pink:#FF2DF1;
  --yellow:#FFFF00;

  --grad-start:#3aa9e5;
  --grad-end:#0174c6;

  --radius-lg:20px;
  --radius-xl:28px;
  --container:1100px;

  --shadow:0 10px 30px rgba(0,0,0,.35);
  --grid-line:rgba(255,255,255,.06);
}

/* --------- base --------- */
*,*::before,*::after{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0; background:var(--bg); color:var(--text);
  font-family: 'Nunito Sans', sans-serif;
}
.container{max-width:var(--container);margin:0 auto;padding:0 1rem}

/* --------- rive ----------- */
  rive-player {
    width: 360px;
    height: 36px;
    display: block;        /* avoids collapsing */
  }

/* --------- header --------- */
.site_header{
  position:sticky; top:0; z-index:50; height:64px;
  backdrop-filter:saturate(140%) blur(6px);
  -webkit-backdrop-filter:saturate(140%) blur(6px);
  border-bottom:1px solid rgba(255,255,255,.12);
}
.header_grid{
  height:100%;
  display:grid; align-items:center; gap:1rem;
  grid-template-columns:1fr 1fr 1fr;
  padding: 0 1rem;
}
.brand{
  justify-self: center;
  font-size: 1.5rem;;
}
.nav{
    display:flex;
    gap:.75rem;
    justify-self: start;
}
.nav a{
    color: var(--blue);
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 6px;
    position: relative;}
.nav a.is-active{
    color: var(--pink);
}
.nav a:hover {
  color: var(--yellow);
}
.nav a::after {
  content: "";
  position: absolute;
  left: 0; bottom: 0;
  width: 0; height: 2px;
  background: var(--pink);
  transition: width .3s ease;
}
.nav a:hover::after {
  width: 100%;
}
.socials{
    display:flex;
    gap:.5rem;
    justify-self: end;
}
